<html xmlns:th="https://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'students')}">

<body>

<a th:onclick="goBack()" class="btn btn-default">返回</a>
<h1 class="col-sm-offset-2">学生信息编辑</h1>
<form th:object="${student}" class="form-horizontal" id="add-student-form" method="post">

    <div class="form-group has-feedback">
        <input th:replace="~{fragments/inputField :: input ('学号', 'id', 'text')}"/>
        <input th:replace="~{fragments/inputField :: input ('姓名', 'name', 'text')}"/>
        <input th:replace="~{fragments/inputField :: input ('出生日期', 'birthDate', 'date')}"/>
        <input th:replace="~{fragments/inputField :: input ('性别', 'gender', 'text')}"/>
        <input th:replace="~{fragments/inputField :: input ('籍贯', 'nativePlace', 'text')}"/>
        <input th:replace="~{fragments/inputField :: input ('院系', 'department', 'text')}"/>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button class="btn btn-default" type="submit" th:text="'完成'">添加或编辑学生
            </button>
        </div>
    </div>
</form>

<script>
    function goBack() {
        window.history.back();
    }
</script>
</body>

</html>
