<!DOCTYPE html>

<html xmlns:th="https://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'students')}">

<body>

<a th:onclick="goBack()" class="btn btn-default">返回</a>

<h2>学生详细信息</h2>


<table class="table table-striped" th:object="${student}">
    <tr>
        <th>学号</th>
        <td><b th:text="*{id}"></b></td>
    </tr>
    <tr>
        <th>姓名</th>
        <td th:text="*{name}"></td>

    </tr>
    <tr>
        <th>出生日期</th>
        <td th:text="*{birthDate}"></td>
    </tr>
    <tr>
        <th>性别</th>
        <td th:text="*{gender}"></td>
    </tr>
    <tr>
        <th>籍贯</th>
        <td th:text="*{nativePlace}"></td>
    </tr>
    <tr>
        <th>院系</th>
        <td th:text="*{department}"></td>
    </tr>
</table>

<a th:href="@{{id}/edit(id=${student.id})}" class="btn btn-default">编辑信息</a>

<br/>
<br/>
<br/>
<script>
    function goBack() {
        window.history.back();
    }
</script>
</body>

</html>
